COMPOSE_PROJECT_NAME=interface_mobile

RAILS_ENV=development
RACK_ENV=development
BASE_URL=http://localhost:3000

# DATABASE VARS
DB_HOST=postgres
DB_PORT=5432
DB_NAME=interface_mobile_dev
DB_USER=interface_mobile_dev
DB_PW=interface_mobile_dev

JWT_SECRET_KEY=d3db373c3b4c5b8fe26e515a585eb15281d9b5ac045fbb4f2946f384d3ef91a6f3b2cb15bd0702bda70071a88ea0849c71f82453924b91c36a074ddaa8d96ed6